*Name Length*
*Name*
*File Type Length*
*File Type*
*Size*
*Password True?*
*Password Length*
*Password*
*Owner Length*
*Owner*
*Creation Date*
*Creation Time*
*Change Date*
*Change Time*
*Last Use Date*
*Last Use Time*
*Description Length*
*Description*
*Attributes 10*
°^!"§$%&()=?`²³{[]}´@€+*~'#-_.:,;<>|
32 Bit
8 Bit * Length
32 Bit
8 Bit * Length
64 Bit
1 Bit
8 Bit
8 Bit * Length
8 Bit
8 Bit * Length
5 Bit/4 Bit/12 Bit
5 Bit:6 Bit
5 Bit/4 Bit/12 Bit
5 Bit:6 Bit
5 Bit/4 Bit/12 Bit
5 Bit:6 Bit
32 Bit
8 Bit * Length
10 Bit